In [7]:
%matplotlib notebook
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json

In [21]:
q2_csv = "q2-bonded-wine-producers-by-state-1999-june-2019.csv"
q2_csv_df = pd.read_csv(q2_csv, encoding="latin")
q2_csv_df.head()

,Unnamed: 0,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,Through 3/31/2019,Through 6/30/2019
0,St abbr Addr,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,...,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT,COUNT
1,AK,4,4,4,4,4,6,6,9,9,...,8,8,10,9,6,7,7,10,10,11
2,AL,4,5,6,5,5,5,8,8,9,...,16,18,21,25,29,33,37,42,42,47
3,AR,11,11,10,10,10,8,8,11,13,...,17,20,25,29,30,30,34,36,36,35
4,AZ,12,10,11,13,13,19,21,27,33,...,52,58,66,71,75,87,94,111,118,122

In [24]:
x_axis = np.arange(len(q2_csv_df))
tick_locations = [value for value in x_axis]


plt.bar(x_axis, users, color='r', alpha=0.5, align="center")
tick_locations = [value for value in x_axis]
plt.xticks(tick_locations,["1999", "2000", "2001", "2003", "2004", "2005",
                           "2006", "2007", "2008", "2009", "2010", "2011",
                           "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019"])
plt.xlim(-0.75, len(x_axis)-0.25)

NameError: name 'x_axis' is not defined